<html>
    <head>
        <title>Chat</title>
        <style>
            input {
                display: block;
            }
            ul {
                list-style: none;
            }
        </style>
    </head>
    <body>
        <ul id='messages'></ul>
        <form id='chatbox'>
            <textarea></textarea>
            <input type='submit' value='send' />
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>
            $(function () {
                var socket = null;
                var msgbox = $('#chatbox textarea');
                var messages = $('#messages');
                $('#chatbox').submit(function () {
                    if (!msgbox.val()) {
                        return false
                    }
                    if (!socket) {
                        alert('No scocket connection')
                        return false
                    }
                    socket.send(msgbox.val());
                    msgbox.val('');
                    return false;

                });
                if (!window["WebSocket"]) {
                    alert('Error: browser doesnt support we sockets');
                } else {
                    socket = new WebSocket('ws://{{.Host}}/room');
                    socket.onclose = function () {
                        alert('Connection has been closed');

                    };
                    socket.onmessage = function (e) {
                        messages.append($("<li>").text((e.data)));
                    };

                }


            })
        </script>
    </body>
</html>